<div class="page-width" style="display: fixed;">
  <div class="header-layout fixed-submenu" data-layout="left" data-nav="beside">
    <div class="header-item header-item--navigation" role="navigation" aria-label="Primary">
      <ul class="site-nav site-navigation site-navigation--beside small--hide">
        <li class="site-nav__item site-nav__expanded-item">
          <a href="#information" class="site-nav__link site-nav__link--underline"> Mais Informações </a>
        </li>
        <li class="site-nav__item site-nav__expanded-item">
          <a href="#references" class="site-nav__link site-nav__link--underline"> Referências </a>
        </li>
        <li class="site-nav__item site-nav__expanded-item">
          <a href="#reviews" class="site-nav__link site-nav__link--underline"> Avaliações </a>
        </li>
      </ul>
    </div>
  </div>
</div>
