<div class="section-header">
    <div class="h3 section-header__title">Mais Informações</div>
</div>
<p><span> Nosso pré treino é composto apenas por ingredientes de funcionamento comprovado e adequados para se tomar
        antes do treino. Nada de efeito placebo, apenas melhoria de performance. </span></p>
<h4 style="font-weight: bold;">CAFEÍNA</h4>
<img src="//uthra.com.br/cdn/shop/files/Caffeine_structure.png" alt="Formula Cafeína" width="200" loading="eager"
    class="image-element" sizes="200px" style="max-width: 200px;"> <br>
<p><span> A Cafeína é um composto químico estimulante do sistema nervoso central. A adenosina é um neuro modulador que
        avisa nosso cérebro que estamos cansados. A Cafeína bloqueia os receptores de adenosina, fazendo com que a
        percepção de cansaço seja reduzida, aumentando o foco e alerta [1][2]. <br><br> Inúmeros estudos atestam a
        melhora de performance em atividades físicas causada por ela [3][4]. </span></p>
<br>
<h4 style="font-weight: bold;">TAURINA</h4>
<img src="//uthra.com.br/cdn/shop/files/Taurine.png" alt="Formula Taurina" width="200" loading="eager"
    class="image-element" sizes="200px" style="max-width: 200px;"> <br>
<p><span> A Taurina é um aminoácido não essencial altamente associado a ganho de performance em múltiplas atividades
        físicas, especialmente em conjunto com a cafeína [5][6][7]. </span></p>
<br>
<h4 style="font-weight: bold;">L-TIROSINA</h4>
<img src="//uthra.com.br/cdn/shop/files/L-tyrosine.png" alt="Formula Carnitina" width="200" loading="eager"
    class="image-element" sizes="200px" style="max-width: 200px;"> <br>
<p><span> A L-Tirosina é um aminoácido que é metabolizado para produzir catecolaminas como a dopamina e noradrenalina.
        Em momentos de estresse, os níveis de catecolaminas podem ser reduzidos, causando um declínio cognitivo,
        atrapalhando no desempenho dos treinos. A suplementação de L-tirosina combate esse efeito, ajudando no
        desempenho dos treinos em condições de estresse [8][9]. </span></p>
<div class="collapsibles-wrapper"><button type="button"
        class="label collapsible-trigger collapsible-trigger-btn collapsible-trigger-btn--borders collapsible--auto-height"
        aria-controls="Product-content-16b834cf-eaaf-43b3-bc91-0f2df21e23278716075794751" aria-expanded="false">
        Referências <span class="collapsible-trigger__icon collapsible-trigger__icon--open" role="presentation"> <svg
                aria-hidden="true" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"
                focusable="false">
                <path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"></path>
            </svg> </span> </button>
    <div id="Product-content-16b834cf-eaaf-43b3-bc91-0f2df21e23278716075794751"
        class="collapsible-content collapsible-content--all">
        <div class="collapsible-content__inner rte">
            <p><strong>1.</strong> Fisone, G., Borgkvist, A. &amp; Usiello, A. Caffeine as a psychomotor stimulant:
                mechanism of action. CMLS, Cell. Mol. Life Sci. 61, 857–872 (2004).
                https://doi.org/10.1007/s00018-003-3269-3.</p>
            <p><strong>2.</strong> Ferré, S. (2008), An update on the mechanisms of the psychostimulant effects of
                caffeine. Journal of Neurochemistry, 105: 1067-1079. https://doi.org/10.1111/j.1471-4159.2007.05196.x.
            </p>
            <p><strong>3.</strong> Louise M.BurkeL.M. Burke. 2008. Caffeine and sports performance. Applied Physiology,
                Nutrition, and Metabolism. 33(6): 1319-1334. https://doi.org/10.1139/H08-130</p>
            <p><strong>4.</strong> Guest NS, VanDusseldorp TA, Nelson MT, Grgic J, Schoenfeld BJ, Jenkins NDM, Arent SM,
                Antonio J, Stout JR, Trexler ET, Smith-Ryan AE, Goldstein ER, Kalman DS, Campbell BI. International
                society of sports nutrition position stand: caffeine and exercise performance. J Int Soc Sports Nutr.
                2021 Jan 2;18(1):1. doi: 10.1186/s12970-020-00383-4. PMID: 33388079; PMCID: PMC7777221.</p>
            <p><strong>5.</strong> J.C. Pereira, R.G. Silva, A.A. Fernandes, J.C.B. Marins, Efeito da ingestão de
                taurina no desempenho físico: uma revisão sistemática, Revista Andaluza de Medicina del Deporte, Volume
                5, Issue 4, 2012, Pages 156-162, ISSN 1888-7546, https://doi.org/10.1016/S1888-7546(12)70024-2.
                (https://www.sciencedirect.com/science/article/pii/S1888754612700242)</p>
            <p><strong>6.</strong> Kurtz, J.A., VanDusseldorp, T.A., Doyle, J.A. et al. Taurine in sports and exercise.
                J Int Soc Sports Nutr 18, 39 (2021). https://doi.org/10.1186/s12970-021-00438-0</p>
            <p><strong>7.</strong> Souza DB, Del Coso J, Casonatto J, Polito MD. Acute effects of caffeine-containing
                energy drinks on physical performance: a systematic review and meta-analysis. Eur J Nutr. 2017
                Feb;56(1):13-27. doi: 10.1007/s00394-016-1331-9. Epub 2016 Oct 18. PMID: 27757591.</p>
            <p><strong>8.</strong> Jongkees BJ, Hommel B, Kühn S, Colzato LS. Effect of tyrosine supplementation on
                clinical and healthy populations under stress or cognitive demands--A review. J Psychiatr Res. 2015
                Nov;70:50-7. doi: 10.1016/j.jpsychires.2015.08.014. Epub 2015 Aug 25. PMID: 26424423.</p>
            <p><strong>9.</strong> Young SN. L-tyrosine to alleviate the effects of stress? J Psychiatry Neurosci. 2007
                May;32(3):224. PMID: 17476368; PMCID: PMC1863555.</p>
        </div>
    </div>
</div>