<div class="rte">
    <div class="section-header">
        <div class="h3 section-header__title">A Uthra</div>
    </div>
    <p>
        <span>
            Muitos suplementos alimentares no mercado são cheios de ingredientes que não dão resultado e não possuem
            comprovação científica. Aqui na Uthra, colocamos apenas ingredientes comprovados por pesquisas, te proporcionando o melhor 
            a cada dose. Por isso na descrição de cada produto você pode ver uma lista de artigos publicados mostrando a eficiência de cada 
            componente do nosso produto.
        </span>
    </p>
</div>